.resources-container {
  padding: 2rem;
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.resources-container h1{
  text-align: center;
}

#sub-text {
  text-align: center;
}

#resources-section{
  display: flex;
  flex-direction: row;
  gap: 2em;
}